@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%
}
body {
    height: 100%;
    background-image: linear-gradient(0.25turn, #1D4581, #3C1C75);
  }

  #image {
    padding-top: 2.5rem;
    text-align: center;
  }

  #text { 
    text-align: center;
    color: wheat;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    background-image: linear-gradient(0.25turn, );
  }

  a, a:visited {
    color: #12A8F8;
  }
