@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%
}
body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0.25turn, #1D4581, #3C1C75);
  }

  #image {
    paddin: 2rem;;
    text-align: center;
  }

  #image img {
    border-radius: 15%;
    border: 1px solid #0f2443;
    box-shadow:
  1.8px 1.8px 6.8px rgba(0, 0, 0, -0.042),
  3.6px 3.6px 14.1px rgba(0, 0, 0, -0.072),
  5.4px 5.4px 22.4px rgba(0, 0, 0, -0.089),
  7.4px 7.4px 34px rgba(0, 0, 0, -0.091),
  9.4px 9.4px 49px rgba(0, 0, 0, -0.074),
  11.5px 11.5px 54.4px rgba(0, 0, 0, -0.034),
  14px 14px 58.9px rgba(0, 0, 0, 0.037),
  17.1px 17.1px 63.1px rgba(0, 0, 0, 0.151),
  21.7px 21.7px 67.1px rgba(0, 0, 0, 0.335),
  50px 50px 71px rgba(0, 0, 0, 0.56)
;
}

  #text { 
    text-align: center;
    color: wheat;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    min-width: 100px;
    width: auto;
  }

  a, a:visited {
    color: #12A8F8;
  }
